body {
    background: #f4f4f4;
}

/* Navigation bar */

.navbar {
    min-height: 33px !important;
    margin-bottom: 0;
    border-radius: 0;
}

.navbar-nav > li > a, .navbar-brand {
    padding-top: 6px !important;
    padding-bottom: 0 !important;
    height: 33px;
}

.navbar-default {
    background-color: #fd7b00;
    border-color: #ff5a00;
  }
  .navbar-default .navbar-brand {
    color: #ffffff;
  }
  .navbar-default .navbar-brand:hover,
  .navbar-default .navbar-brand:focus {
    color: #ffd042;
  }
  .navbar-default .navbar-text {
    color: #ffffff;
  }
  .navbar-default .navbar-nav > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    color: #ffd042;
  }
  .navbar-default .navbar-nav > li > .dropdown-menu {
    background-color: #fd7b00;
  }
  .navbar-default .navbar-nav > li > .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: #ffd042;
    background-color: #ff5a00;
  }
  .navbar-default .navbar-nav > li > .dropdown-menu > li.divider {
    background-color: #ff5a00;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffd042;
    background-color: #ff5a00;
  }
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    color: #ffd042;
    background-color: #ff5a00;
  }
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus {
    color: #ffd042;
    background-color: #ff5a00;
  }
  .navbar-default .navbar-toggle {
    border-color: #ff5a00;
  }
  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus {
    background-color: #ff5a00;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
  }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: #ffffff;
  }
  .navbar-default .navbar-link {
    color: #ffffff;
  }
  .navbar-default .navbar-link:hover {
    color: #ffd042;
  }

/* Custom */

.main-color-bg {
    background-color: #fd7b00 !important;
    border-color: #ff5a00 !important;
    color: #ffffff !important;
}

.heading {
  margin: 0;
  padding-bottom: 25px;
  text-align: center;
}

/* Header */

#header {
    background: linear-gradient(to bottom, #ff9933 0%, #ffcc00 100%);
    color: #ffffff;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

#header .create {
    padding-top: 20px;
}

small {
    color: #fdeaaf;
}

.jumbotron {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #ffcc00;
}

.jumbotron h1,
.jumbotron .h1 {
  color: inherit;
}

.jumbotron p {
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 200;
}

.jumbotron > hr {
  border-top-color: #d5d5d5;
}

.container .jumbotron,
.container-fluid .jumbotron {
  border-radius: 6px;
  padding-left: 15px;
  padding-right: 15px;
}

.jumbotron .container {
  max-width: 100%;
}

/* Breadcrumb */

.breadcrumb {
    background: #ffcc00;
}

.breadcrumb a {
    color: #fdeaaf;
}

/* Login & Register */

#login {
  margin-top: 30px;
}

/* Error Page */
.error-template {
  padding: 40px 15px;
  text-align: center;
}

.error-actions {
  margin-top:15px;
  margin-bottom:15px;
}

.error-actions .btn { 
  margin-right:10px; 
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffd042;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffd042;
    background-color: #ff5a00;
  }
}